@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "montserratthin";
  src: url("/src/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"),
    url("/src/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 1000;
  font-style: normal;
}
@layer base {
  html {
    font-family: "montserratthin";
  }
}

#dropdown-container #menu-dropdown {
  display: none;
}

#dropdown-container.active #menu-dropdown {
  display: block;
}

#dropdown-container.active #button-dropdown {
  background-color: #6d8b74;
}
